version: "3"

networks:
  Crisp_Telegram_Bot:

services:
  bot:
    image: moefaq/crisp_telegram_bot
    volumes:
      - "<Crisp_Telegram_Bot_data>/config.yml:/Crisp_Telegram_Bot/config.yml"
    restart: always
    environment:
      TZ: Asia/Shanghai
      BOT_TOKEN: 
      BOT_ADMIN_ID: 
      CRISP_ID: 
      CRISP_KEY: 
      CRISP_WEBSITE: 
      CRISP_MSGAPI: rtm
      BOT_AUTOREPLY: |
        \0  '在吗|你好' : '欢迎使用客服系统，请等待客服回复你~'
        \0  '关键字1|关键字2' : '自动应答语A'
    networks:
      - Crisp_Telegram_Bot
